.h1Background {
    background-color: limegreen;
    transform: translateX(10px);
}

:global .h1-global {
    background-color:yellow;
}

:global .color1 {
    color: blue;
}


.h1Background:global(.color1) {
    background-color: lightblue;
    color: red;
}

:global ::placeholder {
    color: gray;
    display:grid;
}